<hr>

<section class="section text-center">
	
	<header class="section__header">
		<h2 class="section__title">Worskhops</h2>
	</header>
	
	<div class="wrap">
		<article class="section__body">
			<p>There is only one rule. A person attending the workshop has to walk out of it with something to show for. A code snippet on CodePen, a simple one-pager on GitHub Pages, or a full-blown site on Neocities. It is important to show how easy it is to get from an idea to a finished product online.</p>

		</article>
	</div>
	
	<div class="wrap--wide">
		<div class="section__widgets">
			<article class="workshop">
	
	<h3 class="workshop__title"><a href="https://github.com/WebCrashCourse/workshop-1" target="_blank" title="Check out the details of the workshop">Content-out Web design and building responsive sites</a></h3>
	
	<div class="workshop__body">
			<p class="workshop__label">You will learn:</p>
			<ul class="dot-list">
				<li>content-out approach to building Web</li>
				<li>Web design based on visual hieararchy, color, typography</li>
				<li>to build responsive sites with HTML/CSS</li>
				<li>work with GitHub</li>
				<li>host your site for free on GitHub Pages</li>
			</ul>

			<p class="workshop__label">Instructors for this workshop:</p>
			<ul class="dot-list">
				<li><a href="#ilja-panic">Ilja Panic</a></li>
			</ul>
	</div>


</article>
		</div>
	</div>
	
</section>

<hr>

<section class="section text-center">
	
	<header class="section__header">
		<h2 class="section__title">Instructors</h2>
	</header>
	
	<article class="section__body">
		
	</article>

	<div class="section__widgets clearfix">
		<div class="wrap--wide">
			<article id="ilja-panic" class="author">
	
	<div class="author__photo">
		<img src="assets/img/author-ilja.jpg" alt="Ilja">
	</div>

	<h3 class="author__name">Ilja Panic</h3>

	<div class="author__social">
		<ul class="social-media"> 
			<li class="github"><a href="http://github.com/iljapanic" target="_blank"><div></div><span class="visually-hidden">GitHub</span></a></li>
			<li class="twitter"><a href="http://twitter.com/iljapanic" target="_blank"><div></div><span class="visually-hidden">Twitter</span></a></li>
			<li class="linkedin"><a href="https://dk.linkedin.com/in/iljapanic" target="_blank"><div></div><span class="visually-hidden">LinkedIn</span></a></li>
			<li class="web"><a href="http://iljapanic.me" target="_blank"><div></div><span class="visually-hidden">Web</span></a></li>
			<li class="mail"><a href="mailto:hello@iljapanic.me" target="_blank"><div></div><span class="visually-hidden">E-Mail</span></a></li>
		</ul>
	</div>
	
	<div class="author__status on">
		<div class="author__availability">Available for workshops in</div>
		<div class="author__location">Copenhagen, Denmark</div> 
	</div>
	
</article>
			<article id="generic" class="author">
	
	<div class="author__photo">
		<img src="assets/img/author-generic.jpg" alt="You">
	</div>

	<div class="author__prompt">
		<a href="#" target="_blank">Sign up to be an instructor!</a>
	</div>

</article>
		</div>
	</div>

</section>
