<hr>

<section class="section text-center">
	
	<header class="section__header">
		<h2 class="section__title">Worskhops</h2>
	</header>
	
	<article class="section__body">
		<div class="wrap">
			@@include('../texts/workshops.html')
		</div>
	</article>

	
	<div class="section__widgets">
		<div class="wrap--wide">
			@@include('../workshops/workshop-1.html')
		</div>
	</div>
	
</section>

<hr>

<section class="section text-center">
	
	<header class="section__header">
		<h2 class="section__title">Instructors</h2>
	</header>
	
	<article class="section__body">
		<div class="wrap">
			@@include('../texts/instructors.html')
		</div>
	</article>

	<div class="section__widgets clearfix">
		<div class="wrap--wide">
			@@include('../instructors/ilja.html')
			@@include('../instructors/generic.html')
		</div>
	</div>

</section>
