<hr>

<section class="section text-center">
	
	<header class="section__header">
		<h2 class="section__title">Worskhops</h2>
	</header>
	
	<article class="section__body">
		@@include('../texts/workshops.html')
	</article>

	<div class="section__widgets">

		@@include('../workshops/workshop-1.html')
	
	</div>

</section>

<hr>

<section class="section text-center">
	
	<header class="section__header">
		<h2 class="section__title">Instructors</h2>
	</header>
	
	<article class="section__body">
		@@include('../texts/instructors.html')
	</article>

	<div class="section__widgets">
		@@include('../instructors/ilja.html')
	</div>

</section>
