.author {
	margin-top: $spacing*2;
}

.author__photo img {
	max-width: 120px;
	border: 2px solid $brand-medium;
	border-radius: 50%;

	@include MQ(M) {
		max-width: 160px;
	}
}

.author__name {
	margin-top: $spacing/4;
	margin-bottom: $spacing/4;
}