// CENTER
.centered {
	margin-left: auto;
	margin-right: auto;
}

// FLOATS
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.no-float {
	float: none;
}


// MARGINS
.margin-top {
	margin-top: $spacing;
}

.margin-top--double {
	margin-top: $spacing*2;
}

.margin-top--triple {
	margin-top: $spacing*3;
}

.margin-top--quadra {
	margin-top: $spacing*4;
}

.margin-bottom {
	margin-bottom: $spacing;
}

.margin-bottom--double {
	margin-bottom: $spacing*2;
}


// PADDING
.padding-box {
	padding: $spacing;
}

.padding-box--double {
	padding: $spacing*2;
}

.padding-top {
	padding-top: $spacing;
}

.padding-top--double {
	padding-top: $spacing*2;
}

.padding-bottom {
	padding-bottom: $spacing;
}

.padding-bottom--double {
	padding-bottom: $spacing*2;
}

.padding-ends {
	padding-top: $spacing;
	padding-bottom: $spacing;
}

.padding-ends--double {
	padding-top: $spacing*2;
	padding-bottom: $spacing*2;
}

.padding-sides {
	padding-left: $spacing;
	padding-right: $spacing;
}

.padding-sides--double {
	padding-left: $spacing*2;
	padding-right: $spacing*2;
}