// FONT-WEIGHT

@mixin ultra-bold {
	font-weight: 900; 
} 

@mixin bold {
	font-weight: 700;
}

@mixin text-small {
	font-size: ms(-1);
}

@mixin uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-bold {
	font-weight: 700;
}

.text-italic {
	font-style: italic;
}

.text-small {
	font-size: ms(-1);
}

.text-super-small {
	font-size: ms(-2);
}